<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연습!!!!!!!!</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table,
        tr,
        th,
        td {
            text-align: center;
            border: 2px solid #bbb;
            border-collapse: collapse;
            padding: 5px;
        }

        th {
            color: rgb(132, 39, 219);
            background-color: aliceblue;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <table>
            <tr>
                <th>번호</th>
                <th @click="fnOrder('TITLE')">제목</th>
                <th @click="fnOrder('USERNAME')">작성자</th>
                <th @click="fnOrder('CNT')">조회수</th>
                <th>작성일</th>
                <th>삭제</th>
            </tr>
            <tr v-for="item in paginatedList" :key="item.BOARDNO">
                <td>{{ item.BOARDNO }}</td>
                <td>
                    <a href="javascript:;" @click="fnView(item.BOARDNO)">{{ item.TITLE }}</a>
                </td>
                <td>
                    <a href="javascript:;" @click="fnUser(item.USERID)">{{ item.USERNAME }}</a>
                </td>
                <td>{{ item.CNT }}</td>
                <td>{{ item.CDATETIME }}</td>
                <td><button @click="fnRemove(item.BOARDNO)">삭제</button></td>
            </tr>
        </table>
            <a href="#" @click="prevPage" :disabled="currentPage === 1">
                < </a>
                    <a href="#" v-for="page in pageNumbers" :key="page" @click="goToPage(page)"
                        :class="{ active: currentPage === page }"> {{ page }} </a>
                    <a href="#" @click="nextPage" :disabled="currentPage === totalPages">></a>
        <div>
            <button @click="fnInsert">글쓰기</button>
        </div>

    </div>
</body>

</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                list: [],
                currentPage: 1,
                itemsPerPage: 5,
                sortKey: '',
                sortOrder: 1
            };
        },
        computed: {
            paginatedList() {
                const start = (this.currentPage - 1) * this.itemsPerPage;
                const end = start + this.itemsPerPage;
                return this.list.slice(start, end);
            },
            totalPages() {
                return Math.ceil(this.list.length / this.itemsPerPage);
            },
            pageNumbers() {
                return Array.from({ length: this.totalPages }, (v, k) => k + 1);
            }
        },
        methods: {
            fnList: function () {
                var self = this;
                var nparmap = {};
                $.ajax({
                    url: "http://localhost:3000/list",
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify(nparmap),
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data);
                        self.list = data.list;
                    }
                });
            },
            fnRemove: function (boardNo) {
                var self = this;
                var nparmap = { boardNo: boardNo };
                if (!confirm("정말 삭제할거?")) {
                    return;
                }
                $.ajax({
                    url: "http://localhost:3000/remove",
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify(nparmap),
                    contentType: "application/json",
                    success: function (data) {
                        alert("삭제되었습니다!");
                        console.log(data);
                        self.fnList();
                    }
                });
            },
            fnView: function (boardNo) {
                location.href = "board-view.html?boardNo=" + boardNo;
            },
            fnInsert: function () {
                location.href = "board-insert.html";
            },
            fnUser: function (userId) {
                location.href = "user-view.html?userId=" + userId;
            },
            fnOrder: function (key) {
                if (this.sortKey === key) {
                    this.sortOrder *= -1;
                } else {
                    this.sortKey = key;
                    this.sortOrder = 1;
                }
                this.list.sort((a, b) => {
                    if (a[key] < b[key]) return -1 * this.sortOrder;
                    if (a[key] > b[key]) return 1 * this.sortOrder;
                    return 0;
                });
            },
            prevPage() {
                if (this.currentPage > 1) {
                    this.currentPage--;
                }
            },
            nextPage() {
                if (this.currentPage < this.totalPages) {
                    this.currentPage++;
                }
            },
            goToPage(page) {
                this.currentPage = page;
            }
        },
        mounted() {
            this.fnList();
        }
    });

    app.mount('#app');
</script>